html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*remove default link styling */
a {
    color: #A9A9A9;
    text-decoration: none;
}

a:hover {
     color: #f55f51;
     text-decoration:none;
     cursor:pointer;
}

.nav {
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav__logo img {
  height: 6em;
  margin: 1em;
}

#menu-icon {
  height: 4em;
  margin-right: .5em;
}

@media screen and (min-width: 70em) {
  #menu-icon {
  display: none;
  }
}

.nav__link {
  display: inline;
}

@media screen and (max-width: 70em) {
  .nav__link {
    display: none;
  }
}

.nav__list {
  margin-right: .5em;
}

/*CHANGE HOVER */
.nav__link a {
  box-sizing: border-box;
  color: #292929;
  padding: .625em;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}

#nav__contact {
  color: #f55f51;
}

.nav__link a:hover, .nav__link a:focus, #nav__contact:hover, #nav__contact:focus  {
  opacity: .5;
}

@media screen and (max-width: 70em) {
   .nav {
     flex-direction: row;
     overflow: hidden;
     height: 10em;
  }
  .nav__link a {
    display: inline-flex;
    font-size: 1.5em;
    padding: 0.3em;
  }
  .nav__logo img {
    margin-left: .5em;
    margin-top: 1em;
  }
}

@media screen and (max-width: 40em){

  .nav {
    height: 8em;
  }
  .nav__link a {
    font-size: .8em;
  }
  .nav__logo img {
    margin-top: .3em;
  }
}

.home {
  background-image: url("../images/website-cover.jpg");
  background-size: cover;
  min-height: 100vh;
}

@media screen and (max-width: 40em){
  .home {
    background-image: url("../images/website-cover-mobile.jpg")
  }
}


.home__header {
  text-align: center;
  line-height: 1.2;
  margin: 0 auto;
  padding: .5em;
  /* transition: all 1s ease-in-out; */
  background-color: black;
  opacity: .5;
  color: white;
}

.home__header:hover, .home__header:focus{
  /* transform: scale(1.1); */
}

@media screen and (max-width: 70em) {
  .home__heading {
    font-size: 1.5em;
  }
}

.testimonials {
  color: black;
  display: flex;
  flex-direction: row;
  width: 90%;
  font-size: 1.2em;
  margin: 0 auto;
}

.testimonials__heading {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.testimonial {
  margin: 1em;
  background-color: white;
  opacity: .7;
}

@media screen and (max-width: 70em) {
  .testimonials {
    flex-direction: column;
  }
}

.contact__button {
  background-color: #f55f51;
  color: white;
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: .5em;
}

.contact__button__div {
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: rgba(27, 27, 31, 0.9);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0em 4em;
}

.about__text {
  margin: 3em 3em;
  max-width: 630px;
  text-align: justify;
}

.about__heading {
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  color: white;
}

.about__image {
  margin: 1em auto;
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: .2em solid white;
}

.about__bio {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1em;
}

@media screen and (max-width: 70em) {
  .about {
    flex-direction: column;
    padding: 2em 0em;
  }
  .about__heading {
    padding-top: .5em;
  }
  .about__bio {
    margin: 1em 0em;
  }
}

.classes {
  min-height: 100vh;
  padding-top: 1em;
  background-color: rgba(27, 27, 31, 0.9);
  color: white;
}

.classes__text {
  margin: 1.5em;
  text-align: center;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.classes__listing {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  font-size: 1.5em;
}

.old__listing {
  opacity: .4;
}

.classes__heading {
  font-size: 2.5em;
  font-weight: lighter;
}

.classes__group, .classes__other {
  text-align: center;
  align-items: center;
}

.classes__text__heading {
  margin: .3em 0em;
}

.contact__link {
  text-decoration: underline;
  font-weight: lighter;
  color: #f55f51;
}

.contact__link:hover {
  opacity: .5;
  text-decoration: underline;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(27, 27, 31, 0.9);
  min-height: 100vh;
}

.contact__heading {
  font-weight: lighter;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.contact__para {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
}

.contact__para, .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 70em) {
  .contact__para {
    margin: 0 1em;
  }
}

.form__label--name, .form__label--email, .form__label--message {
  font-size: 1.3em;
  margin: 1em 0em;
}

.form__input--name, .form__input--email, .form__input--message {
  font-size: 1.3em;
  padding: .7em;
  border: transparent;
  outline: none;
  transition: all .2s ease-in-out;
}

.form__input--name:focus, .form__input--email:focus, .form__input--message:focus {
  box-shadow: 0 0 0.7em 0.7em #f55f51;
  border-color: rgba(34, 128, 191);
}

.contact input {
  line-height: 1em;
  border-radius: .25em;
}

.form__input--message {
  height: 5em;
  border-radius: .25em;
  resize: none;
}

@media screen and (min-width: 70em) {
  .form__input--message {
    height: 10em;
  }
}

.form__btn {
  height: 2em;
  border-radius: .25em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 3em;
  width: 50%;
  color: white;
  background-color: #f55f51;
  border-style: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.form__btn:hover, .form__btn:focus, .contact__button:hover {
     opacity: .5;
     color: white;
     text-decoration:none;
     cursor:pointer;
}

footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  color: #ccc;
  min-height: 6em;
  width: 100%;
}

.partner-logos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.badge {
  height: 5em;
  margin: .5em;
}

@media screen and (max-width: 70em) {
  .page-footer__badges {
    flex-direction: column;
  }
  .badge {
    margin: 1em;
  }
}

.page-footer__text {
  font-size: 1.2em;
  margin: .5em;
  text-align: center;
}

.brighten {
  color: #f55f51;
}

#contact-redirect {
  height: 100vh;
  padding-top: 2em;
  background: rgba(27, 27, 31, 0.9);
  color: white;
}
#close-icon {
  height: 3em;
  float: right;
  margin: 0 1em 0 0;
}
#site-menu {
  margin: 1em;
  list-style: none;
  font-size: 2em;
  line-height: 2em;
}
