html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*remove default link styling */
a {
    color: #93E5E3;
    text-decoration: none;
}

a:hover {
     color: #C7D528;
     text-decoration:none;
     cursor:pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav__logo img {
  height: 7em;
  margin: 1em;
}

.nav__link {
  display: inline;
}

.nav__list {
  margin-right: 1em;
}

/*CHANGE HOVER */
.nav__link a {
  box-sizing: border-box;
  color: #292929;
  padding: .625em;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
}

.nav__link a:hover, .nav__link a:focus  {
  color: #93E5E3;
}

@media screen and (max-width: 70em) {
   .nav {
     flex-direction: column;
     overflow: hidden;
  }
  .nav__link a {
    display: inline-flex;
    align-items: center;
    font-size: 1.5em;
    padding: 0.3em;
  }
  .nav__logo img {
    margin: 0;
    margin-top: 1em;
  }
}

@media screen and (max-width: 40em){
  .nav__link a {
    font-size: .8em;
  }
  .nav__logo img {
    margin-top: .3em;
  }
}

.home {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.home__header {
  color: #ffffff;
  background-color: rgba(100,100,100,0.5);
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: .3em;
  transition: all 1s ease-in-out;
  border: .2em solid #C7D528;

}

.home__heading {
  font-size: 2.5em;
  font-weight: lighter;
  font-family: 'Special Elite', cursive;
}

.home__header:hover, .home__header:focus{
  transform: scale(1.1);
}

@media screen and (max-width: 70em) {
  .home {
    min-height: 90vh;
  }
  .home__header {
    margin: 2em;
  }
  .home__heading {
    font-size: 1.5em;
  }
}

.about {
  background-color: rgba(27, 27, 31, 0.9);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0em 4em;
}

.about__heading {
  font-size: 2.5em;
  padding-top: 1em;
  font-weight: lighter;
  color: #C7D528;
  font-family: 'Special Elite', cursive;
}

.about__image {
  margin: 1em auto;
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: .2em solid #93E5E3;
}

.about__bio {
  margin: 1em 3em;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

@media screen and (max-width: 70em) {
  .about {
    flex-direction: column;
    padding: 2em 2em;
  }
  .about__heading {
    padding-top: .5em;
  }
  .about__bio {
    margin: 1em 0em;
    text-align: left;
  }
}

.classes {
  min-height: 100vh;
  padding-top: 3em;
}

.classes__text {
  margin: 1.5em;
  text-align: center;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.classes__listing {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  font-size: 1.5em;
}

.classes__heading {
  font-family: 'Special Elite', cursive;
  font-size: 2.5em;
  font-weight: lighter;
}

.classes__group, .classes__other {
  text-align: center;
  align-items: center;
}

.classes__text__heading {
  margin: .3em 0em;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
  background-color: #646464;
  min-height: 100vh;
}

.contact__heading {
  font-family: 'Special Elite', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.contact__para {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 1em;
}

@media screen and (max-width: 70em) {
  .contact__para {
    margin: 0 1em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  max-width: 60em;
  margin: 0 auto;
}

.form__label--name, .form__label--email, .form__label--message {
  font-size: 1.3em;
  margin: 1em 0em;
}

.form__input--name, .form__input--email, .form__input--message {
  font-size: 1.3em;
  padding: .7em;
  border: transparent;
  outline: none;
  transition: all .2s ease-in-out;
}

.form__input--name:focus, .form__input--email:focus, .form__input--message:focus {
  box-shadow: 0 0 0.7em 0.7em rgba(34, 128, 191, 0.7);
  border-color: rgba(34, 128, 191);
}

.contact input {
  line-height: 1em;
  border-radius: .25em;
}

.form__input--message {
  height: 5em;
  border-radius: .25em;
  resize: none;
}

@media screen and (min-width: 70em) {
  .form__input--message {
    height: 10em;
  }
}

.form__btn {
  height: 2em;
  border-radius: .25em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 3em;
  width: 50%;
  color: rgba(27, 27, 31, 0.9);
  background-color: #93E5E3;
  border-style: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.form__btn:hover, .form__btn:focus {
     background-color: #C7D528;
     text-decoration:none;
     cursor:pointer;
}

footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  background-color: rgba(27, 27, 31, 0.9);
  color: #ccc;
  min-height: 6em;
  width: 100%;
}

.page-footer__text {
  font-size: 1em;
  margin-right: 1em;
  text-align: center;
}
